.s-output .cell-output {
    background-color: #f1f3f5;
    border-radius: 0px;
}

.gb {
    background-color: #f1f3f5;
}

.slide-deck {
    border: 3px solid #dee2e6;
    width: 100%;
    height: 475px;
}

div.callout-caution {
  border-left-color: #0052CC !important;
}

div.callout-caution.callout-style-default > .callout-header {
  background-color: #A3B4CC !important;
}
